:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1300px) {
  #artists_container {
    justify-content: center;
    gap: 1rem;
  }

  #gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); 
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 80%;
  }

  #gallery {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  #posts {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  } 

  #menu_container nav {
    padding: 2rem 2rem;
    gap: 2rem;
  }

  header {
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }

  #main-section {
    padding-top: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
  }
}

@media (max-width: 865px) {
  #astronauts_container {
    justify-content: center;
  }
  .astronaut_line {
    display: none;
  }
}

@media (max-width: 639px) {
  #gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #content {
    display: block;
  }

  #content .sidebar {
    padding: 5rem 5rem;
    gap: 2rem;
  }

  #menu_container {
    flex-direction: column;
  }

  #menu_container form {
    max-width: none;
  }
}

@media (max-width: 540px) {
  #social_medias {
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  #return_to_top {
    flex-direction: column;
    gap: 3rem;
  }
}


a {
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

body {
  background: var(--body-background);
  color: var(--text-color);
}

header {
  margin-top: 3.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  height: 3.125rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  object-fit: contain;
}

header nav {
  display: flex;
  gap: 3rem;
}

header nav li {
  font-size: 1.125rem;
  list-style: none;
  line-height: 1.4;
}

header button {
  width: 14.375rem;
  height: 3.125rem;
  background: #fff;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
}

section.main_section {
  margin-top: 5.6rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section.main_section h1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  max-width: 37.25rem;
  font-size: 3.125rem;
}

section.main_section h1 span {
  color: var(--color-logo);
}

div.section_sidebar {
  width: 100%;
  max-width: 25rem;
}

div.section_sidebar p {
  font-size: 1.125rem;
  line-height: 1.2;
}

div.avatars {
  margin-top: 3.438rem;
  display: flex;
  align-items: flex-end;
  gap: 0.375rem;
}

div.avatars strong,
div.avatars span {
  font-size: 1.125rem;
  line-height: 1.2;
  display: block;
}

div.gallery {
  margin: 0 auto;
  margin-top: 6.25rem;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  max-width: 1277px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 4rem;
  column-gap: 2rem;
}

div.gallery img {
  width: 100%;
  max-width: 18.75rem;
  height: 12.374rem;
  border: 1px solid #ffffff;
}

section.content {
  display: grid;
  grid-template-columns: 17.563rem 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "sidebar posts"
  "sidebar banner"
}

aside.sidebar {
  height: 100%;
  border-right: 1px solid var(--subtitle-color);
  border-bottom: 1px solid var(--subtitle-color);
  text-align: center;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-area: sidebar;
}


aside.sidebar strong {
  font-weight: 600;
  font-size: 3.125rem;

  display: block;
}
aside.sidebar span {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--subtitle-color);

  display: block;
}

div.posts {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 5rem;
  padding-left: 4.25rem;
  grid-area: posts;

  display: flex;
  gap: 2rem;
}

div.posts article {
  text-align: left;
  width: 100%;
  max-width: 435px; 

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div.posts p {
  font-size: 1.125rem;
  line-height: 1.2;
}

div.posts article > a {
  display: block;
  text-decoration: underline;
  line-height: 1.2;
}

.banner { 
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
  grid-area: banner;
}

section.top_week {
  margin-top: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

section.top_week h2 {
  font-weight: 700;
  font-size: 3.125rem;
}

section.top_week h2 span {
  color: var(--color-logo);
}

div.astronauts_container {
  margin-top: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.astronaut_group div + div {
  margin-top: 3.125rem;
}

div.astronaut img {
  margin-top: 1rem;
}

div.astronaut_line {
  width: 0;
  min-height: 100%;
  border-right: 1px solid var(--subtitle-color);
}

div.profile {
  display: flex;
  justify-content: space-between;
}

div.profile > strong {
  font-weight: 500;
  font-size: 1.875rem;
  color: var(--text-color)
}

div.name_and_price {
  margin-top: 2.75rem;
  display: flex;
  justify-content: space-between;
}

div.name_and_price strong {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--subtitle-color);
}

div.name_and_price span {
  color: var(--color-logo);
}

section.artists {
  margin-top: 9rem;
  text-align: center;

  display: grid;
  place-items: center;
}

section.artists h2 {
  font-weight: 700;
  font-size: 3.125rem;
}

section.artists h2 > span {
  color: var(--color-logo);
}

div.artists_container {
  margin-top: 9rem;
  width: 100%;
  max-width: 1287px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 7rem;
}

div.artist_box {
  width: 100%;
  max-width: 350px;
  height: 9.375rem;
  background: var(--card-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

div.artist strong {
  display: block;
  font-weight: 500;
  text-align: left;
}

div.artist span {
  margin-top: 0.275rem;
  display: block;
  font-weight: 500;
  text-align: left;
  color: var(--color-logo);
}

div.artists_container > div:nth-child(2) {
  background: var(--color-logo)
}

div.artists_container > div:nth-child(2) span {
  color: var(--text-color);
}

div.artist_footer {
  margin-top: 3.375rem;
}

div.artist_footer a {
  margin-right: 0.875rem;
}

div.artist_footer a:hover {
  text-decoration: underline;
}

a.return_to_top {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  scroll-behavior: smooth;
}

a.return_to_top > button {
  width: 5rem;
  height: 5rem;
  background: var(--color-logo);
  border: 0;
  cursor: pointer;
}

footer {
  width: 100%;
  margin-top: 9rem;
  background: var(--card-color);
}

div.menu_container {
  margin-top: 3.75rem;
  display: flex;
}

div.menu_container form {
  padding: 3rem 3rem;
  width: 100%;
  max-width: 544px;
  border: 1px solid var(--subtitle-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

div.menu_container nav {
  width: 100%;
  border: 1px solid var(--subtitle-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  flex: 1;
}

div.menu_container form label {
  width: 100%;
  max-width: 350px;
  font-weight: 500;
  font-size: 1.875rem;
}

div.menu_container form label > span {
  color: var(--color-logo);
}

div.menu_container form > div {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 357px;
  display: flex;
}

div.menu_container form div input {
  padding: 1rem;
  width: 100%;
  max-width: 17.5rem;
  background: var(--color-input);
  border: 0;
  color: var(--text-color);
}

div.menu_container form div input::placeholder {
  color: var(--subtitle-color);
}

div.menu_container form div > button {
  padding: 1rem;
  font-weight: 700;
}

div.menu_container nav ul {
  display: grid;
  row-gap: 0.875rem;
}

div.menu_container nav ul li a:hover {
  text-decoration: underline; 
}

div.social_medias {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div.social_medias > div {
  display: flex;
  gap: 2.5rem;
}

div.social_medias a {
  color: var(--subtitle-color);
}

div.social_medias a:hover {
  text-decoration: underline;
  color: var(--text-color);
} 

